{% extends 'template.html.twig' %}

{% block title %}Cereale{% endblock %}

{% block body %}
    <h1>Cereale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cereale.id }}</td>
            </tr>
            <tr>
                <th>NomC</th>
                <td>{{ cereale.NomC }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ cereale.Prix }}</td>
            </tr>
            <tr>
                <th>CodeC</th>
                <td>{{ cereale.CodeC }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cereale_index') }}">back to list</a>

    <a href="{{ path('cereale_edit', {'id': cereale.id}) }}">edit</a>
    
    {{ include('cereale/_delete_form.html.twig') }}
{% endblock %}
